@model DemoApp.Models.ViewModels.PropertyRendererModel
@{
    <span class="ledetekst">@Model.GetCaption(true)</span>
    @await Html.PartialAsync($"/Pages/Partial/Beskrivelse.cshtml", @Model.GetDescription())
    <input id="@Model.GetId()" name="@Model.GetId()" type="date" class="dato" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddDays(3650).ToString("yyyy-MM-dd")" />
}
