@using DemoApp.Models
@model DemoApp.Models.ViewModels.PropertyRendererModel
@{
    var kodeliste = XsdUtils.GetKodeliste(Model.Prop); 
    <span class="ledetekst">@Model.GetCaption(true)</span>
    @await Html.PartialAsync($"/Pages/Partial/Beskrivelse.cshtml", @Model.GetDescription())
    <select class="dropdown" name="@Model.GetId()" id="@Model.GetId()">
        <option disabled selected value=""> -- Velg -- </option>
        @foreach (var kode in kodeliste.koder!)
        {
            <option value="@kode.verdi">@kode.tekst</option>
        }
    </select>
}
