@page
@using DemoApp.Models
@using DemoApp.Models.ViewModels
@using System.Xml.Schema
@using System.Xml
@model DemoApp.Pages.MeldingModel
@{
    XmlSchemaElement? selectedElement = null;
    <form method="post">
    <span class="skjemavelger_tekst">Skjema:</span>
    <span name="skjemavelger" class="skjemavelger_dropdown">
            <select name="selectedSchemaName" onchange="this.form.submit()">
            <option value="">- velg skjema / melding -</option>
            @foreach (XmlSchema schema in DataFactory.XsdSchemasWithRootElement )
            {
                foreach (XmlQualifiedName name in schema.Elements.Names)
                {
                        <optgroup label="@name.Name"></optgroup>
                        var element = schema.Elements[name];
                        if (element is XmlSchemaElement rotElement)
                        {
                            if (rotElement.ElementSchemaType is XmlSchemaComplexType complexType)
                            {
                                if (complexType.Particle is XmlSchemaChoice choiceElement)
                                {
                                    foreach (XmlSchemaElement particle in choiceElement.Items)
                                    {
                                        if (particle.Name != "MeldingHeader")
                                        {
                                            bool selected = false;
                                            if (Model.SelectedElementType == particle.QualifiedName.ToString())
                                            {
                                                selectedElement = particle;
                                                selected = true;
                                            }
                                            string? caption = DataFactory.GetCaption(particle, true);
                                            if (selected)
                                            {
                                                <option value="@particle.QualifiedName" selected>@caption</option>
                                            }
                                            else
                                            {
                                                <option value="@particle.QualifiedName">@caption</option>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    bool selected = false;
                                    if (Model.SelectedElementType == rotElement.QualifiedName.ToString())
                                    {
                                        selectedElement = rotElement;
                                        selected = true;
                                    }
                                    string? caption = DataFactory.GetCaption(rotElement, true);
                                    if (selected)
                                    {
                                        <option value="@rotElement.QualifiedName" selected>@caption</option>
                                    }
                                    else
                                    {
                                        <option value="@rotElement.QualifiedName">@caption</option>
                                    }
                                }
                            }
                        }
                    }
                }
            </select>
            <hr />
            @if (selectedElement != null)
            {
                @await Html.PartialAsync("/Pages/Partial/Gruppe.cshtml", new PropertyRendererModel("", selectedElement, null))
                <input type="submit" value="Send/Lagre" />
            }
    </span>
    </form>
}
